PORT=5000
DATABASE_URL="postgresql://postgres:your_password@localhost:5432/keno_db"
JWT_SECRET=your_jwt_secret_here
REDIS_URL=redis://localhost:6379
NODE_ENV=development
BOT_TOKEN="your_telegram_bot_token"
BOT_WEBHOOK_URL=
SMS_WEBHOOK_SECRET="your_sms_webhook_secret"
LEUL_API_KEY="your_leul_api_key"
VERIFY_API_BASE_URL="https://your_verify_api_url"
MERCHANT_PHONE="your_merchant_phone"
